<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720333273675-2tk81nmkightdron1hq5uj1din3c5auq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720333273675-2tk81nmkightdron1hq5uj1din3c5auq</string>
	<key>API_KEY</key>
	<string>AIzaSyAGhjYwIOHEtbR17xDtkdAcmsRHMnCgEJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>720333273675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skovalyshyn.SkovTwitter</string>
	<key>PROJECT_ID</key>
	<string>skovtwitter</string>
	<key>STORAGE_BUCKET</key>
	<string>skovtwitter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:720333273675:ios:8bdb5315a9d21791022bce</string>
	<key>DATABASE_URL</key>
	<string>https://skovtwitter.firebaseio.com</string>
</dict>
</plist>
